body {
font-family: Tahoma, sans-serif;
background-image: url("../images/clearerpij.jpg");
}

h1 {
  font-size: 100px;
  opacity: 0.30;
  font-weight: bold;
  color: white;
}

.projects a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
